<!doctype html>
<html lang="en-US">
<head>
  <base href="/components/test-demo/">
  <meta charset="utf-8">
  <style>
    body {
      background: #fafafa;
      font-family: Arial;
    }
    test-demo {
      text-align: center;
      color: #FFF
    }
  </style>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="preload" as="style">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900" rel="preload" as="style">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900" rel="stylesheet">
</head>
<body>
  <a href="/demo/index.html">HOME</a>
  <div id="demo"></div>

  <script type="module">
    import { html, render } from 'lit-html';
    import './test-demo.js';

    const d = new Date()

    render(
      html`
        <test-demo title="asdf">
          <h4>SLOTTED</h4>
        </test-demo>
      `,
      document.querySelector('#demo')
    );
  </script>
</body>
</html>
