// Tones
white         = rgb(255, 255, 255) // #FFF
almost-white  = rgb(250, 250, 250) // #FAFAFA
semi-white    = rgb(247, 247, 247) // #F7F7F7
light         = rgb(238, 238, 238) // #EEE
semi-light    = rgb(221, 221, 221) // #DDD
black         = rgb(0, 0, 0)       // #000
dark          = rgb(34, 34, 34)    // #222
grey          = rgb(153, 153, 153) // #999
grey-light    = rgb(204, 204, 204) // #CCC
grey-mid      = rgb(102, 102, 102) // #666
grey-dark     = rgb(68, 68, 68)    // #444
red           = rgb(255, 0, 0)     // #F00
deep-red      = rgb(221, 0, 0)     // #D00
fire-red      = rgb(255, 85, 0)    // #F50
pink          = rgb(255, 204, 204) // #FCC
google-pink   = rgb(233, 30, 99)   // #E91E63
green         = rgb(92, 184, 92)   // #5CB85C
green-primary = rgb(34, 170, 68)   // #2A4
green-mid     = rgb(34, 136, 68)   // #081
lime-green    = rgb(0, 255, 0)     // #0F0
green-dark    = rgb(0, 102, 0)     // #0F0
blue          = rgb(2, 117, 216)   // #0275D8
blue-primary  = rgb(0, 119, 255)   // #07F
blue-light    = rgb(51, 204, 255)  // #3CF
navy          = rgb(0, 0, 136)     // #008

// Transparent Tones
transparent-black        = rgba(black, 0.4)
transparent-black-darker = rgba(black, 0.7)
transparent-blue         = rgba(blue, 0.6)
transparent-grey-dark    = rgba(grey-dark, 0.5)
transparent-white        = rgba(white, 0.7)

// Text Colors
text-color--generic   = black
text-color--alternate = white
text-color--light     = grey
text-color--wild      = blue-light
text-color--bold      = grey-dark
text-color--error     = red

// Background Colors
background-color--generic   = white
background-color--alternate = transparent-grey-dark
background-color--bold      = grey-dark
background-color--wild      = grey-light
background-color--muted     = transparent-black
background-color--error     = red

// Border Colors
border-color--generic   = black
border-color--alternate = white
border-color--light     = grey
border-color--wild      = grey-light
border-color--muted     = grey-dark

// Semantic Globals
night             = dark
charcoal          = grey-dark
smoke             = grey-light
white-smoke       = semi-light
