layout(n)
  display: unqoute('-ms-' + n + 'box')
  display: unqoute('-webkit-' + n )
  display: n

flex-direction()
  -ms-flex-direction: arguments
  -webkit-flex-direction: arguments
  flex-direction: arguments

flex-wrap()
  -ms-flex-wrap: arguments
  -webkit-flex-wrap: arguments
  flex-wrap: arguments

flex()
  -ms-flex: arguments
  -webkit-flex: arguments
  flex: arguments

align-items()
  -ms-flex-align: arguments
  -webkit-align-items: arguments
  align-items: arguments

justify-content()
  -ms-flex-pack: arguments
  -webkit-justify-content: arguments
  justify-content: arguments

align-self()
  -ms-align-self: arguments
  -webkit-align-self: arguments
  align-self: arguments

align-content()
  -ms-flex-line-pack: arguments
  -ms-align-content: arguments
  -webkit-align-content: arguments
  align-content: arguments
